* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    height: 5%;
   
}

main {
    flex: 1;
}

#container {
    width: 50%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
button {
    cursor: pointer;
}
.square {
    height: 100px;
    background-color: transparent;
    border: 1px solid black;
    color: transparent;
    
}

footer {
    display: flex;
    background-color: rgba(31, 41, 55, 0.8);
    padding: 16px;
    justify-content: center;
    height: fit-content;
    flex-grow: 0;
    color: white;
}